<section class="hero">
  <div class="hero-content">
    <div class="hero-title-wrapper">
      <img src="/img/star-icon.svg" alt="" class="hero-star-icon" />
      <h1 class="hero-title">Get <i>Body</i> in shape, Stay healthy</h1>
    </div>
    <p class="hero-description">
      Transform your physique and embrace a healthier lifestyle with our
      comprehensive fitness and nutrition support.
    </p>
  </div>

  <div class="hero-image-wrapper">
    <picture>
      <source
        media="(max-width: 767px)"
        type="image/jpeg"
        srcset="
          /img/hero/hero_main_mobile.jpg    1x,
          /img/hero/hero_main_mobile@2x.jpg 2x,
          /img/hero/hero_main_mobile@3x.jpg 3x
        "
      />

      <source
        media="(min-width: 768px) and (max-width: 1439px)"
        type="image/jpeg"
        srcset="
          /img/hero/hero_main_tab.jpg    1x,
          /img/hero/hero_main_tab@2x.jpg 2x,
          /img/hero/hero_main_tab@3x.jpg 3x
        "
      />

      <source
        media="(min-width: 1440px)"
        type="image/jpeg"
        srcset="
          /img/hero/hero_main.jpg    1x,
          /img/hero/hero_main@2x.jpg 2x,
          /img/hero/hero_main@3x.jpg 3x
        "
      />

      <img
        src="/img/hero/hero_main.jpg"
        alt="Working out together"
        class="hero-img-large"
        width="1376"
        height="574"
        loading="eager"
        fetchpriority="high"
      />
    </picture>
  </div>

  <div class="hero-right">
    <img
      srcset="
        /img/hero/hero_secondary.jpg    1x,
        /img/hero/hero_secondary@2x.jpg 2x,
        /img/hero/hero_secondary@3x.jpg 3x
      "
      src="/img/hero/hero_secondary.jpg"
      alt="young-women-doing-fitness-outdoors-together"
      class="hero-img-small"
      width="168"
      height="100"
      loading="eager"
    />

    <ul class="hero-tags">
      <li class="tag">#Sport</li>
      <li class="tag">#Healthy</li>
      <li class="tag">#Workout</li>
      <li class="tag">#Diet</li>
    </ul>
  </div>
</section>
