*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--color-light);
  color: var(--color-black);
  font-family: var(--font-main);
  line-height: 1.5;
  font-size: var(--fs-16);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  max-width: 100%;
  display: block;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font-family: inherit;
  cursor: pointer;
}

.wrapper {
  max-width: 375px;
  margin-inline: auto;
}

.main {
  display: flex;
  justify-content: center;
}

.main > .wrapper {
  padding: 60px 0 80px 0;
  flex-grow: 1;
}

.hidden {
  display: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip-path: inset(50%);
  white-space: nowrap;
  border: 0;
}

body.modal-open {
  overflow: hidden;
}

.btn {
  padding: 12px 32px;
  border-radius: 30px;
  font-weight: 400;
  font-size: var(--fs-14);
  line-height: var(--lh-18);
  transition: var(--transition);
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.btn-primary {
  background: var(--color-light);
  color: var(--color-dark);
  border: none;
}

.btn-primary:hover {
  opacity: 0.9;
}

.btn-outline {
  background: transparent;
  color: var(--color-light);
  border: 1px solid var(--color-light);
}

.btn-outline:hover {
  background: var(--color-light);
  color: var(--color-dark);
}

.btn-dark-outline {
  background: transparent;
  color: var(--color-dark);
  border: 1px solid var(--color-dark);
}

@media screen and (min-width: 768px) {
  .btn {
    font-size: var(--fs-16);
    line-height: var(--lh-24);
  }
}

/* iziToast override */
.iziToast-wrapper {
  z-index: var(--z-toast) !important;
}

.iziToast,
.iziToast.iziToast-color-blue,
.iziToast.iziToast-color-green,
.iziToast.iziToast-color-orange,
.iziToast.iziToast-color-red,
.iziToast.iziToast-color-yellow,
.iziToast.iziToast-theme-dark {
  border-color: transparent !important;
}

/* Mobile: offset toast below fixed header */
@media screen and (max-width: 767px) {
  .iziToast-wrapper-topRight,
  .iziToast-wrapper-topLeft,
  .iziToast-wrapper-topCenter {
    top: 90px !important;
  }
}
