.header {
  position: static;
  z-index: var(--z-sticky);
  background-color: var(--color-light);
  padding: 20px 0;
}

.header > .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo-svg {
  display: block;
  height: 24px;
  width: 132px;
  color: var(--color-dark);
}

.navigation {
  display: none;
  background-color: var(--color-dark);
  border-radius: 60px;
  padding: 8px 34px;
}

.nav-list {
  display: flex;
  gap: 4px;
  align-items: center;
}

.nav-link {
  color: var(--color-light);
  font-size: var(--fs-16);
  line-height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 12px;
  border-radius: 30px;
  white-space: nowrap;
}

.nav-link.active {
  background-color: var(--color-light);
  color: var(--color-dark);
}

.socials {
  display: none;
  gap: var(--gap-12);
  list-style: none;
  padding: 0;
  margin: 0;
}

.socials li {
  display: flex;
}

.social-link {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--gap-8);
  width: 44px;
  height: 44px;
  border: 1px solid var(--color-dark-10);
  border-radius: var(--radius-10);
  transition: var(--transition);
  flex: none;
  background: transparent;
}

.social-link:hover {
  background-color: var(--color-dark-80);
}

.social-icon {
  width: 28px;
  height: 28px;
  color: var(--color-dark-80);
  transition: var(--transition);
}

.social-link:hover .social-icon {
  color: var(--color-light);
}

.burger-btn {
  display: flex;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 8px;
}

.burger-icon {
  width: 32px;
  height: 32px;
  stroke: var(--color-dark);
}
