@import url('modern-normalize/modern-normalize.css');
@import url('./core/fonts.css');
@import url('./core/variables.css');
@import url('./core/base.css');
@import url('./skeleton.css');
@import url('./header.css');
@import url('./burger-menu.css');
@import url('./hero.css');
@import url('./filters.css');
@import url('./grid.css');
@import url('./quote.css');
@import url('./category.css');
@import url('./exercise.css');
@import url('./pagination.css');
@import url('./footer.css');
@import url('./favorites.css');
@import url('./popup.css');
@import url('./responsive.css');
